

<div class="jumbotron">
   <div class="container">
     <h1>Welcome!</h1>
     <p>Login to App.</p>
     <p>
     <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg' %>

     </p>
   </div>
 </div>



    <%#= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>